<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	{% load static %}
    <title>{% block title %} Title {% endblock %}</title>
	 <link rel="stylesheet"  type="text/css" href="{% static 'tourism/bootstrap/css/bootstrap.min.css' %}">
     <link href="{% static 'tourism/css/style.css' %}" rel='stylesheet' type='text/css' />
	 <link href="{% static 'tourism/jquerui/jquery-ui.css' %}" rel='stylesheet' type='text/css' />
	 <link href="{% static 'tourism/css/style2.css' %}" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="js/jquery.min.js"> </script>
		<!---script---->
		<link rel="stylesheet" href="{% static 'tourism/css/jquery.bxslider.css' %}" type="text/css" />
		<script src="{% static 'tourism/js/jquery.bxslider.js' %}"></script>
			<script type="text/javascript">
				$(document).ready(function(){
					$('.bxslider').bxSlider({
						 auto: true,
 						 autoControls: true,
						 minSlides: 4,
						 maxSlides: 4,
						 slideWidth:450,
						 slideMargin: 10
					});
				});
		    </script>
		<!---//script---->
		<!---smoth-scrlling---->
			<script type="text/javascript">
				$(document).ready(function(){
									$('a[href^="#"]').on('click',function (e) {
									    e.preventDefault();
									    var target = this.hash,
									    $target = $(target);
									    $('html, body').stop().animate({
									        'scrollTop': $target.offset().top
									    }, 1000, 'swing', function () {
									        window.location.hash = target;
									    });
									});
								});
				</script>
		<!---//smoth-scrlling---->
		<!----start-top-nav-script---->
		<script type="text/javascript" src="{% static 'tourism/js/flexy-menu.js' %}"></script>
		<script type="text/javascript">$(document).ready(function(){$(".flexy-menu").flexymenu({speed: 400,type: "horizontal",align: "right"});});</script>
		<!----//End-top-nav-script---->
		<!---webfonts---->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!---webfonts---->
		<!--start slider -->
	    <link rel="stylesheet" href="{% static 'tourism/css/fwslider.css' %}" media="all">
		<script src=" {% static 'tourism/js/jquery-ui.min.js' %}"></script>
		<script src=" {% static 'tourism/js/css3-mediaqueries.js' %}"></script>
		<script src="{% static 'tourism/js/fwslider.js' %}"></script>
		<!--end slider -->
		<!---calender-style---->
		<link rel="stylesheet" href="{% static 'tourism/css/jquery-ui.css'%}" />
</head>
<body>
		<!----start-wrap---->
			<!----start-top-header----->
			<div class="top-header" id="header">
				<div class="wrap">
				<div class="top-header-left">
					<ul>
						{% if request.user.is_authenticated %}
						<li><a href="{% url 'account:dashboard' %}">My dashboard</a></li>
						<li><a><span> </span>Hello {{request.user.username}}</a></li>
						<li><a href="{% url 'logout' %}"><span> </span>Logout</a></li>
						{% else %}
						<li><a href="{% url 'login' %}"><span> </span>Login</a></li>
						<li><p><span> </span>Not a Member ? </p>&nbsp;<a class="reg" href="{% url 'account:register' %}"> Register</a></li>
						{% endif %}
						<li><p class="contact-info">Call Us Now :+254710625983</p></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="top-header-right">
					<ul>
						<li><a class="face" href="#"><span> </span></a></li>
						<li><a class="twit" href="#"><span> </span></a></li>
						<li><a class="thum" href="#"><span> </span></a></li>
						<li><a class="pin" href="#"><span> </span></a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
			<!----//End-top-header----->
			<!---start-header---->
			<div class="header">
				<div class="wrap">
				<!--- start-logo---->
				<div class="logo">
					<a href="{% url 'tourism:index' %}" style="font-weight:bold; font-size:25px;">BRIOCOM SOLUTIONS</a>
				</div>
				<!--- //End-logo---->
				<!--- start-top-nav---->
				<div class="top-nav">
						<ul class="flexy-menu thick orange">
							<li class="active"><a href="{% url 'tourism:index' %}">Home</a></li>
							<li><a href="{% url 'tourism:destination' %}">Destinations</a>
							<li><a href="{% url 'tourism:suggestion' %}">Suggest Me Destinations <span class="glyphicon glyphicon-thumbs-up"></span> </a>
						</ul>
				</div>
				<!--- //End-top-nav---->
				<div class="clear"> </div>
			</div>
			<!---//End-header---->
		</div>
		{% block body %}

		{% endblock %}

		{% load static %}
<script src="{% static 'tourism/bootstrap/js/jquery.js' %}"></script>
<script src="{% static 'tourism/bootstrap/js/bootstrap.js' %}"></script>

</body>
</html>